.wrapper {
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
  // left: 10%;
  width: 80%;
  height: auto;
  border: solid 1px #000000;
  background: #ffffff;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  .new-task {
    position: relative;
    width: 40%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-right: solid 1px #000000;
    .title-newTask {
      position: relative;
      margin-top: 5%;
      text-align: center;
      font-weight: bold;
    }
    .required-name {
      position: relative;
      margin-top: 6%;
      width: 80%;
      height: auto;
      text-align: left;
      .warning-empty {
        position: relative;
        width: 100%;
        height: auto;
        color: red;
        font-size: 12px;
        font-weight: bold;
      }
      .name-task {
        position: relative;
        padding: 6px;
        width: 100%;
        height: auto;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        background: #ffffff;
        border: solid 1px #bdbdbd;
        border-radius: 5px;
      }
    }
    .description {
      position: relative;
      margin-top: 4%;
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .description-title {
        position: relative;
        font-weight: bold;
        color: #000000;
      }
      .description-text {
        position: relative;
        padding: 6px;
        width: 100%;
        height: auto;
        min-height: 150px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        text-align: left;
        background: #ffffff;
        border: solid 1px #000000;
        border-radius: 0px;
      }
    }
    .date-piority {
      position: relative;
      margin-top: 4%;
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #000000;
      .due-date {
        position: relative;
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: left;
        .dueDate-title {
          position: relative;
          font-weight: bold;
          color: #000000;
        }
        .dueDate-picker {
          position: relative;
          width: 80%;
          border: solid 1px #000000;
        }
      }
      .piority {
        position: relative;
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: left;
        .piority-title {
          position: relative;
          font-weight: bold;
          color: #000000;
        }
        .menu-piority {
          position: relative;
          border: solid 1px #000000;
        }
      }
    }
    .confirm-task {
      position: relative;
      margin-top: 8%;
      margin-bottom: 4%;
      padding: 3px;
      width: 80%;
      height: auto;
      color: #ffffff;
      background: #5cb85c;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .todo-list {
    position: relative;
    width: 60%;
    height: auto;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid 1px #000000;
    .title-todoList {
      position: relative;
      margin-top: 5%;
      text-align: center;
      font-weight: bold;
    }
    .search {
      position: relative;
      width: 86%;
      height: auto;
      color: #000000;
      font-size: 12px;
      text-align: left;
      padding: 8px;
      background: #ffffff;
      border: solid 1px #bdbdbd;
      border-radius: 5px;
    }
    .tasks {
      position: relative;
      width: 86%;
      height: auto;
      margin-top: 6%;
      margin-bottom: 12%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .task {
        position: relative;
        width: 100%;
        height: auto;
        background: #ffffff;
        border: solid 1px #000000;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .header-task {
          position: relative;
          padding: 15px;
          background: #ffffff;
          border-bottom: solid 1px #000000;
          display: flex;
          flex-direction: row;
          align-items: center;
          .checkBox {
            position: relative;
            width: 63%;
            color: #000000;
            font-size: 16px;
          }
          .btn-detail {
            position: relative;
            width: 18%;
            height: 100%;
            color: #ffffff;
            font-size: 15px;
            text-align: center;
            background: #00bcd4;
            border: none;
            border-radius: 10px;
          }
          .btn-remove {
            position: relative;
            width: 15%;
            height: 100%;
            margin-left: 3%;
            color: #ffffff;
            font-size: 15px;
            text-align: center;
            background: #d9534f;
            border: none;
            border-radius: 10px;
          }
        }
        .detail-task {
          position: relative;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          .required-name {
            position: relative;
            margin-top: 6%;
            width: 80%;
            height: auto;
            text-align: left;
            .warning-empty {
              position: relative;
              width: 100%;
              height: auto;
              color: red;
              font-size: 12px;
              font-weight: bold;
            }
            .name-task {
              position: relative;
              padding: 6px;
              width: 100%;
              height: auto;
              color: #000000;
              font-size: 14px;
              text-decoration: none;
              background: #ffffff;
              border: solid 1px #bdbdbd;
              border-radius: 5px;
            }
          }
          .description {
            position: relative;
            margin-top: 4%;
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .description-title {
              position: relative;
              font-weight: bold;
              color: #000000;
            }
            .description-text {
              position: relative;
              padding: 6px;
              width: 100%;
              height: auto;
              min-height: 150px;
              color: #000000;
              font-size: 14px;
              text-decoration: none;
              text-align: left;
              background: #ffffff;
              border: solid 1px #000000;
              border-radius: 0px;
            }
          }
          .date-piority {
            position: relative;
            margin-top: 4%;
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #000000;
            .due-date {
              position: relative;
              width: 60%;
              display: flex;
              flex-direction: column;
              text-align: left;
              .dueDate-title {
                position: relative;
                font-weight: bold;
                color: #000000;
              }
              .dueDate-picker {
                position: relative;
                width: 80%;
                border: solid 1px #000000;
              }
            }
            .piority {
              position: relative;
              width: 40%;
              display: flex;
              flex-direction: column;
              text-align: left;
              .piority-title {
                position: relative;
                font-weight: bold;
                color: #000000;
              }
              .menu-piority {
                position: relative;
                border: solid 1px #000000;
              }
            }
          }
          .confirm-task {
            position: relative;
            margin-top: 8%;
            margin-bottom: 4%;
            padding: 3px;
            width: 80%;
            height: auto;
            color: #ffffff;
            background: #5cb85c;
            border: none;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }
    .bulk-action {
      position: absolute;
      width: 100%;
      height: auto;
      padding: 15px;
      bottom: 0%;
      background: #e0e0e0;
      border: solid 1px #000000;
      // display: flex;
      flex-direction: row;
      align-items: center;
      .title-bulkAction {
        position: relative;
        width: 60%;
        color: #333333;
        font-size: 15px;
        text-align: left;
      }
      .btn-done-bulkAction {
        position: relative;
        width: 17%;
        margin-right: 3%;
        height: 100%;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        background-color: #2196f3;
        border: none;
        border-radius: 10px;
      }
      .btn-remove-bulkAction {
        position: relative;
        width: 17%;
        margin-left: 3%;
        height: 100%;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        background: #d9534f;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
